<?php
/**
 * @version 1.0.0
 */
return [
    /*
    |--------------------------------------------------------------------------
    | Hostname | If you want to use PHP mail() function instead SMTP, leave this empty
    |--------------------------------------------------------------------------
    */

    'host' => 'smtp.example.com',

    /*
    |--------------------------------------------------------------------------
    | Port
    |--------------------------------------------------------------------------
    */

    'port' => '465',

    /*
    |--------------------------------------------------------------------------
    | Username
    |--------------------------------------------------------------------------
    */

    'username' => 'john@example.com',

    /*
    |--------------------------------------------------------------------------
    | Password
    |--------------------------------------------------------------------------
    */

    'password' => 'qwerty!!!',

    /*
    |--------------------------------------------------------------------------
    | Encryption if is necessary or just null
    |--------------------------------------------------------------------------
    */

    'encryption' => 'ssl',

    /*
    |--------------------------------------------------------------------------
    | From
    |--------------------------------------------------------------------------
    */

    'from_name' => 'John from Example.com',

    /*
    |--------------------------------------------------------------------------
    | Sender address (should be in thease same domain)
    |--------------------------------------------------------------------------
    */

    'from_address' => 'dev@example.com',

    /*
    |--------------------------------------------------------------------------
    | Recipients
    |--------------------------------------------------------------------------
    */

    'to' => [
        'contact@example.com',
    ],

     /*
    |--------------------------------------------------------------------------
    | Default title
    |--------------------------------------------------------------------------
    */

    'default_title' => 'Message from website',

    /*
    |--------------------------------------------------------------------------
    | Domains (allowed domains - cors)
    |--------------------------------------------------------------------------
    */

    'domains' => [
        'http://localhost/',
        'http://localhost:8080'
    ],

    /*
    |--------------------------------------------------------------------------
    | Captcha
    |--------------------------------------------------------------------------
    */

    'site_key' => '',
    'secret' => '',
];